<ion-view view-title="EC Sales">
       <ion-content class="padding">

<div class="list">
<h4 style="text-align:center;"> {{truck.manufacturing_month_and_year}} {{truck.oem}} {{truck.variant}} {{truck.body_type}} </h4>

<div class="row" style="text-align:center;">
  <div class="col col-90">
<div class="container" style>
  <img class="imageOne" ng-src="{{imgURI6}}" id="smallImage6" src="truckimg/{{truck.truckimg1}}" width="280px" >
 
</div>
</div>
</div>
<div class="detail" style="text-align:center;border-bottom:1px solid black;">
<h5>{{truck.truck_passing}} {{truck.truck_number}} </h5>
<h5> {{truck.seller_name}} </h5>
</div>
<p></p>
<p> Insurance  Valid Till : {{truck.insurance_valid_till}} </p>
<p> Permit Valid Till : {{truck.national_permit_valid_till}} </p>
<p> Fitness Valid Till : {{truck.fitness_valid_till}} </p>
<p> Price On Rim : INR {{truck.seller_estimated_price_on_rim}} Rs </p>
<p> Tyre Estimates : INR {{truck.seller_estimated_price_on_tyre}} Rs</p>
<p></p>

<h5 style="text-align: center;"> Photos </h5>
<div class="row" style="text-align:center;">
  <div class="col col-90">
<div class="container" style>
  <img class="imageOne" ng-src="{{imgURI6}}" id="smallImage6" src="truckimg/{{truck.truckimage2}}" width="280px" >
 
</div>
</div>
</div>
<div class="row" style="text-align:center;">
  <div class="col col-90">
<div class="container" style>
  <img class="imageOne" ng-src="{{imgURI6}}" id="smallImage6" src="truckimg/{{truck.truckimage3}}" width="280px" >
 
</div>
</div>
</div>
<div class="row" style="text-align:center;">
  <div class="col col-90">
<div class="container" style>
  <img class="imageOne" ng-src="{{imgURI6}}" id="smallImage6" src="truckimg/{{truck.truckimage4}}" width="280px" >
 
</div>
</div>
</div>
<div class="row" style="text-align:center;">
  <div class="col col-90">
<div class="container" style>
  <img class="imageOne" ng-src="{{imgURI6}}" id="smallImage6" src="truckimg/{{truck.truckimage5}}" width="280px" >
 
</div>
</div>
</div>




</div>





 
	  
        </ion-content>
</ion-view>

