<ion-view view-title="Seller Profile Creation">
  <ion-content class="padding">
    <form name="sellerForm" novalidate="" ng-submit="seller()">
      <div class="list">
        <div class="errors" style="margin:10px; color:red; font-size:15px">
          {{errors}}
        </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Seller's Company Name</span>
          <input type="text" ng-model="data.seller_company_name" name="seller_company_name" placeholder="Sethi Enterprises">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Seller's Proprietor</span>
          <input type="text" ng-model="data.seller_proprietor" name="seller_proprietor" placeholder="Ram Avtar">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Proprietor Phone no. 1</span>
          <input type="number" ng-model="data.proprietor_phone_1" name="proprietor_phone_1" placeholder="XXXXXXXX54">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Proprietor Phone no. 2</span>
          <input type="number" ng-model="data.proprietor_phone_2" name="proprietor_phone_2" placeholder="XXXXXXXX54">
        </label>
        <p style="margin-top:20px;font-size:15px;">Seller's Manager 1</p>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Manager's Name</span>
          <input type="text" ng-model="data.manager1_name" name="manager1_name" placeholder="Suraj Parmar">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Manager's Phone 1</span>
          <input type="number" ng-model="data.manager1_phone_1" name="manager1_phone_1" placeholder="XXXXXXXX67">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Manager's Phone 2</span>
          <input type="number" ng-model="data.manager1_phone_2" name="manager1_phone_2" placeholder="XXXXXXXX89">
        </label>
        <p style="margin-top:20px;font-size:15px;">Seller's Manager 2 </p>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Manager's Name</span>
          <input type="text" ng-model="data.manager2_name" name="manager2_name" placeholder="Geetika Kwatra">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Manager's Phone 1</span>
          <input type="number" ng-model="data.manager2_phone_1" name="manager2_phone_1" placeholder="XXXXXXXX89">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Manager's Phone 2</span>
          <input type="number" ng-model="data.manager2_phone_2" name="manager2_phone_2" placeholder="XXXXXXXX89">
        </label>
        <p></p>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Office Address</span>
          <textarea ng-model="data.office_address" name="office_address" placeholder="xxx"></textarea>
        </label>
        <h4> Transport Center </h4>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Transport Center
            </div>
            <select ng-model="data.transport_center" name="transport_center" ng-options="tc.name for tc in transportCenters">
            </select>
          </label>
        </div>
      </div>
      <div class="padding">
        <button class="button button-full button-positive" type="submit">
          Submit
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
