<ion-view view-title="Truck Onboarding" cache-view="false">
  <ion-content class="padding">
    <form name="onboardingForm" novalidate ng-submit="onboard()">
      <div class="list">
        <div class="errors" style="margin:10px; color:red; font-size:15px">
          {{errors}}
        </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label"> Truck Registration RTO</span>
          <input class="text-uppercase" type="text" ng-model="data.truck_passing" name="truck_passing" placeholder="HR 38" ng-pattern="truck_passing_regex">
          <div class="errors" ng-show="onboardingForm.truck_passing.$invalid">Incorrect Format</div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Truck Number</span>
          <input class="text-uppercase" type="text" ng-model="data.truck_number" name="truck_number" placeholder="P 3498" ng-pattern="truck_number_regex">
          <div class="errors" ng-show="onboardingForm.truck_number.$invalid">Incorrect Format</div>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Seller Name
          </div>
          <select ng-model="data.seller_name" name="seller_name" ng-options="seller.seller_company_name for seller in allSellers">
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Body Type
          </div>
          <select ng-model="data.bodytype" name="bodytype" ng-options="bd.name for bd in bodytypes">
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Variant
          </div>
          <select ng-model="data.variant" name="variant" ng-options="variant.name for variant in variants">
          </select>
        </label>
      </div>
      <div class="padding">
        <button class="button button-full button-positive" type="submit">
          Submit
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
