<ion-view view-title="EC Sales">
  <ion-content class="padding">
    <div class="padding">
      <a class=" button  icon-right ion-chevron-right button button-block button-positive " href="#/tab/inventory">View Inventory Page</a>
    </div>
    <div class="padding">
      <a class=" button icon-right ion-chevron-right button button-block button-positive " href="#/tab/seller">Create Seller Profile</a>
    </div>
    <div class="padding">
      <a class=" button icon-right ion-chevron-right button button-block button-positive " href="#/tab/onboarding">Start Onboarding</a>
    </div>
    <div class="padding">
      <a class=" button icon-right ion-chevron-right button button-block button-positive " href="#/tab/search">Edit Inspection</a>
    </div>
  </ion-content>
</ion-view>
