<ion-view view-title="Supplier Profile Creation">
       <ion-content class="padding">
	<form name="clientForm" novalidate="" ng-submit="client()">	
         <div class="list">

  <label class="item item-input item-stacked-label">
    <span class="input-label">Client Co. Name</span>
    <input type="text" ng-model="data.seller_company_name" name="seller_company_name"  placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Client Proprieter</span>
    <input type="text" ng-model="data.seller_properter" name="seller_properter"  placeholder="XYZ">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Propreiter Phone no. 1</span>
    <input type="text" ng-model="data.propreiter_phone_1" name="propreiter_phone_1" placeholder="XXXXXXXX54">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Propreiter Phone no. 2</span>
    <input type="text" ng-model="data.propreiter_phone_2" name="propreiter_phone_2"placeholder="XXXXXXXX54">
  </label>
  <p style="margin-top:20px;">Client Manager1</p>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Manager Phone 1</span>
    <input type="text" ng-model="manager1_phone1" name="manager_phone1" placeholder="XXXXXXXX67">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Manager Phone 2</span>
    <input type="text" ng-model="manager1_phone2" name="manager_phone2" placeholder="XXXXXXXX89">
  </label>
 <p style="margin-top:20px;"> Client Manager2 </p>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Manager Phone 1</span>
    <input type="text" ng-model="manager2_phone1" name="manager2_phone1" placeholder="XXXXXXXX89">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Manager Phone 2</span>
    <input type="text" ng-model="manager2_phone2" name="manager2_phone2" placeholder="XXXXXXXX89">
  </label>
  <p></p>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Office Address</span>
    <textarea ng-model="office_address" name="office_address" placeholder="xxx"></textarea>
  </label>

</div>

<div class="padding">
         <button class="button button-full button-positive"  type="submit">
            Submit
          </button> 
      </div>
</form>
	  
        </ion-content>
</ion-view>
