<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="">

  <!-- Login -->
  <ion-tab title="" icon-off="" icon-on="" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <!-- Client -->
  <ion-tab title="" icon-off="" icon-on="" href="#/tab/client">
    <ion-nav-view name="tab-client"></ion-nav-view>
  </ion-tab>

  <!-- truck -->
  <ion-tab title="" icon-off="" icon-on="" href="#/tab/truck">
    <ion-nav-view name="tab-truck"></ion-nav-view>
  </ion-tab>
  


</ion-tabs>
