<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="">

  <!-- Login -->
  <ion-tab title="Login" icon-off="" icon-on="" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <!-- Menu -->
  <ion-tab title="Menu" icon-off="" icon-on="" href="#/tab/tabs">
    <ion-nav-view name="tab-tabs"></ion-nav-view>
  </ion-tab>

  <!-- Inventory -->
  <ion-tab title="Inventory" icon-off="" icon-on="" href="#/tab/inventory">
    <ion-nav-view name="tab-inventory"></ion-nav-view>
  </ion-tab>

  <!-- Seller -->
  <ion-tab title="Seller" icon-off="" icon-on="" href="#/tab/seller">
    <ion-nav-view name="tab-seller"></ion-nav-view>
  </ion-tab>

  <!-- Onboarding -->
  <ion-tab title="Onboarding" icon-off="" icon-on="" href="#/tab/onboarding">
    <ion-nav-view name="tab-onboarding"></ion-nav-view>
  </ion-tab>

   <!-- Inspection -->
  <ion-tab title="Inspection" icon-off="" icon-on="" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

</ion-tabs>
